<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate Document Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Generate Document Form</h1>
<form id="generateDocumentForm" th:action="@{/documents/7/generate}" method="post">
    <!-- ... Ваша форма здесь ... -->


<label for="format">Select Format:</label>
<select id="format" name="format">
    <option value="DOCX">DOCX</option>
    <option value="PDF">PDF</option>
    <option value="ODT">ODT</option>
</select>
<br>

<!-- Создание полей ввода на основе ключей из модели-->
<div id="variables">
    <div th:each="key : ${wordList}">
        <label th:for="${key}" th:text="${key}"></label>
        <input type="text" th:id="${key}" th:name="${key}">
        <br>
    </div>
</div>

<input type="submit" value="Generate Document">
</form>
<div id="result"></div>

<script>
    $(document).ready(function() {
        $('#generateDocumentForm').submit(function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            // Создаем объект GenerateDocumentRequest на основе формы
            var request = {
                format: $('#format').val(),
                variables: {}
            };
            $('#variables input').each(function() {
                var key = $(this).attr('name');
                var value = $(this).val();
                request.variables[key] = value;
            });

            // Отправляем запрос на сервер
            $.ajax({
                type: 'POST',
                url: '/documents/7/generate',
                contentType: 'application/json',
                data: JSON.stringify(request),
                responseType: 'arraybuffer', // Добавляем responseType для корректной обработки бинарных данных
                success: function(data, textStatus, xhr) {
                    var blob = new Blob([data], { type: 'application/pdf' });

                    // Создаем URL для скачивания
                    var url = window.URL.createObjectURL(blob);

                    // Создаем временную ссылку на скачивание
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = "generated_document"; // Устанавливаем имя файла

                    // Автоматически нажимаем ссылку, и файл начнет скачиваться
                    a.click();

                    // Очищаем URL
                    window.URL.revokeObjectURL(url);

                    $('#result').text('Документ сгенерирован успешно.');
                },
                error: function(xhr, status, error) {
                    // Обработка ошибки
                    $('#result').text('Произошла ошибка: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>
